---
title: Hub
linkedin: "https://www.linkedin.com/in/lugalu/"
github: "https://github.com/lugalu"
---

<div class="card text-center text-white">

	<img class="img-fluid w-100 h-100" alt="Dithered Bird's Eye View Photography of Lighted City during the night Photo by Josh Hild from Pexels dithered by my own Swift Library." src="assets/images/mainImage.jpg" />

	<div class="card-img-overlay d-flex">
			<div class="bg-dark  align-self-center mx-auto p-3 rounded-3 bg-opacity-75">
				<h1 class="card-title roboto main-text orange-font-color">Lugalu</h1>
			   	<h2 class="card-text roboto">Find all my current and old projects, career, and other things.</h2>
		   		<h2 class="card-text roboto">All in a single Place</h2>
			</div>
	</div>
</div>


{% for pages in site.data.navigation offset: 1 %}
	{% include spacer.html %}

<section >
	{% assign remainder = forloop.index | modulo: 2 %}
	{% if remainder != 0 %}
	    <div class= "textArea">
			<h2 class="orange-font-color">{{pages.name}}</h2>
	        <p style="text-align: center">{{pages.text}}</p>
	        <a class="btn btn-outline-orange" href={{pages.link}}>{{pages.name}}</a>
		</div>

	    <img class="paralelogram-right" src= {{pages.imgPath}} alt= "{{pages.imgAlt}}" title="{{pages.imgAlt}}">
	         
	{% else %}
	    <img class="paralelogram-left" src= {{pages.imgPath}} alt= "{{pages.imgAlt}}" title="{{pages.imgAlt}}">
		
	    <div class= "textArea">
			<h2 class="orange-font-color">{{pages.name}}</h2>
	        <p style="text-align: center">{{pages.text}}</p>
	        <a class="btn btn-outline-orange" href={{pages.link}}>{{pages.name}}</a>
		</div>

	{% endif %}
</section>

	{% if index.last == false %}
		{% include spacer.html %}
	{% endif %}
	
{% endfor %}

