---
title: Projects
---

<style type="text/css">
  
.active{
padding-right: 0px;
font-size: 18px;
}
@media screen and (min-width: 800px){
  .carousel-inner{
    display: flex;
    overflow:  scroll;
    scroll-behavior: smooth;
  }

  .carousel-item{
    display: block;
    margin: 0;
    flex: 0 0 calc(100%/3);
  
    
  }
  .active{
    padding-right: 0;
  }

  .carousel-size {
    
    height: 200px;
  }

}

</style>


<div class="container mt-5">
  <div class="row align-items-center">
    <h2 class="orange-font-color mb-3 col-md-4"> Projects </h2>
  </div>

  {% include spacer.html %}
  <h3 class="orange-font-color mb-3 col-md-4"> Professional </h3>
  {% assign tag = "project-Professional"%}
  {% include carousel.html tag = tag %}




  </div>
  

  {% include spacer.html %}
  <h3 class="orange-font-color mb-3 col-md-4"> Educational </h3>
  {% assign tag = "project-Educational"%}
  {% include carousel.html tag= tag %}

  {% include spacer.html %}
  <h3 class="orange-font-color mb-3 col-md-4"> Hobbyist </h3>
  {% assign tag = "project-Hobbyist"%}
  {% include carousel.html tag= tag %}
</div>
