---
title: Projects
---


<div class="container mt-5">
  <div class="row align-items-center">
    <h2 class="orange-font-color mb-3 col-md-4"> Projects </h2>
  </div>

  {% include spacer.html %}
  <h3 class="orange-font-color mb-3 col-md-4"> Professional </h3>

  <div class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-inner">
         <div class="col-md-3">
            <div class="card">
                <div class="card-img">
                    <img src="/assets/images/zeta.jpg" class="">
                </div>
                <div class="card-img-overlay">Slide 1</div>
            </div>
      </div>
    </div>
  </div>

  {% include spacer.html %}
  <h3 class="orange-font-color mb-3 col-md-4"> Educational </h3>

  {% include spacer.html %}
  <h3 class="orange-font-color mb-3 col-md-4"> Hobbyist </h3>

  </div>
</div>