---
title: Projects
---

<style type="text/css">
  
.active{
padding-right: 0px;
font-size: 18px;
}

.carousel-inner{
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  margin: auto;
}

@media screen and (min-width: 900px){
  .carousel-inner{
    overflow:  hidden;
  }

  .carousel-item{
    display: block;
    margin: 0;
    flex: 0 0 calc(100%/3);
    margin: auto;
  }

  a{
    color: #FF7A00;
    text-decoration: none;
  }

  a:hover{
    color: #FF7A00;
    cursor: pointer;
  }
  .carousel-item:hover{
    text-decoration: underline;
    color: white;
    cursor: pointer;
  }

  .active{
    padding-right: 0;
  }

  .carousel-size {
    
    height: 200px;
  }

}

</style>


<div class="container mt-5">
  <div class="row align-items-center">
    <h2 class="orange-font-color mb-3 col-md-4"> Projects </h2>
  
  {% include spacer.html %}
  <h3 class="mb-3 col-md-4"> Professional </h3>
  {% assign tag = "Project-Professional"%}
  {% include carousel.html tag = tag %}
  

  {% include spacer.html %}
  <h3 class="mb-3 col-md-4"> Educational </h3>
  {% assign tag = "Project-Educational"%}
  {% include carousel.html tag= tag %}


  {% include spacer.html %}
  <h3 class="mb-3 col-md-4"> Hobbyist </h3>
  {% assign tag = "Project-Hobbyist"%}
  {% include carousel.html tag= tag %}
</div>
</div>

