
{% assign project_posts = site.posts | where: "tag", tag %}
{% assign carouselName = "Carousel_"| append: tag %}



{% if project_posts != empty %}
<div id="#{{carouselName}}" class="carousel  h-100 carousel-size" data-bs-touch = "true"  data-bs-interval= "false" data-bs-pause= "true" data-bs-wrap= "false" >
  <div class="carousel-inner w-75 h-100 " id="carouselInner-{{carouselName}}">
    {% for post in project_posts %}
      <a 
      {% if forloop.first %}
        class="carousel-item active"
      {% else %}
        class = "carousel-item"
      {% endif %}

      id = "carouselItem"

      href={{post.url}}

      >
          <div class="col mx-1">
            <div class="card bg-dark rounded-4">
              <img src= {{ post.image | default: "/assets/images/zeta.jpg" }} class="img-fluid card-img-top carousel-size rounded-4">
              <div class="card-body">
                <p class="text-light fs-1">{{ post.title | default: A oopsie has been made when creating this post}}</p>
              </div>            
            </div>
          </div>
      </a>
    {% endfor %}

</div>
  {% if project_posts.size > 3 %}
    <button class="carousel-control-prev" type="button" id= "previous-{{carouselName}}" data-bs-target="#{{carouselName}}" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" id="next-{{carouselName}}" type="button" data-bs-target="#{{carouselName}}" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  {% endif %}

</div>


  <script type="text/javascript">

    function documentLoaded(){
        var carouselName = "{{carouselName}}"

        document.getElementById('carouselInner-'.concat(carouselName)).scrollTo({
        top:0,
        left: 0,
        behaviour: 'smooth'
      })

        if (window.matchMedia("(min-width: 900px)").matches) {
          var carousel = document.getElementById("#".concat(carouselName));
          carousel.classList.remove('slide');

        }

     if (window.matchMedia("(min-width: 900px)").matches) {
        var count = {{project_posts.size}}
        if (count <= 3) { return; }
        var carouselWidth = document.getElementById('carouselInner-'.concat(carouselName)).scrollWidth;
        var cardWidth = document.querySelector('.carousel-item').offsetWidth;
        var scrollPosition = 0;


        document.getElementById('next-'.concat(carouselName)).onclick = function() {
          var offsetWidth = 3;

          if( scrollPosition > (carouselWidth - (cardWidth * offsetWidth)) ){ return; }
          
          scrollPosition = scrollPosition + cardWidth;
          document.getElementById('carouselInner-'.concat(carouselName)).scrollTo({
            top:0,
            left: scrollPosition,
            behaviour: 'smooth'
          })
          
        };

        document.getElementById('previous-'.concat(carouselName)).onclick = function() {
          var offsetWidth = 3;
          if( scrollPosition > 0) {
             scrollPosition = scrollPosition - cardWidth;
            console.log("previous", scrollPosition);
            document.getElementById('carouselInner-'.concat(carouselName)).scrollTo({
              top:0,
              left: scrollPosition,
              behavior: 'smooth'
            })
          }
          
          
        };
    
      }else{
        var count = {{project_posts.size}}
        if (count <= 3) { return; }
        
        document.getElementById("next-".concat(carouselName)).onclick = function() {
          console.log("next", myCarousel)
          myCarousel.next();
        }

        document.getElementById('previous-'.concat(carouselName)).onclick = function() {
          console.log("prev")
          myCarousel.prev();
        }

      }


      //Carousel stop
        var myCarousel = new bootstrap.Carousel(document.getElementById("#{{carouselName}}"), {
        interval: 5000, // Set the desired auto-play interval in milliseconds (e.g., 5000 for 5 seconds)
        pause: 'hover'
      });
        myCarousel.pause();


    }

    document.addEventListener("DOMContentLoaded", documentLoaded);
      

    function goLeft(){


    }

  </script>
{% else %}
  <h4>Nothing here Yet.</h4>

  <br>
{% endif %}
