
{% assign project_posts = site.posts | where: "tag", tag %}
{% assign carouselName = "Carousel_"| append: tag %}



{% if project_posts != empty %}
<div id="#{{carouselName}}" class="carousel  h-100 carousel-size" data-bs-touch = "true"  data-bs-interval= "false" data-bs-pause= "true" data-bs-wrap= "false" >
  <div class="carousel-inner w-75 h-100 " id="carouselInner">
    {% for post in project_posts %}
      <a 
      {% if forloop.first %}
        class="carousel-item active"
      {% else %}
        class = "carousel-item"
      {% endif %}

      id = "carouselItem"

      href={{post.url}}

      >
          <div class="col mx-1">
            <div class="card bg-dark">
              <img src= {{ post.image | default: "/assets/images/zeta.jpg" }} class="img-fluid card-img-top carousel-size">
              <div class="card-body">
                <p class="text-light fs-1">{{ post.title | default: A oopsie has been made when creating this post}}</p>
              </div>            
            </div>
          </div>
      </a>
    {% endfor %}

</div>
  {% if project_posts.size > 3 %}
    <button class="carousel-control-prev" type="button" data-bs-target="#{{carouselName}}" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" id="nextBtn" type="button" data-bs-target="#{{carouselName}}" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  {% endif %}

</div>


  <script type="text/javascript">

    function documentLoaded(){
        document.querySelector('.carousel-inner').scrollTo({
        top:0,
        left: 0,
        behaviour: 'smooth'
      })

        if (window.matchMedia("(min-width: 900px)").matches) {
          var carousel = document.getElementById("#{{carouselName}}");
          // carousel.classList.remove('slide');

        }

     if (window.matchMedia("(min-width: 900px)").matches) {
        var carouselWidth = document.getElementById('carouselInner').scrollWidth;
        var cardWidth = document.querySelector('.carousel-item').offsetWidth;
        var scrollPosition = 0;

        document.querySelector('.carousel-control-next').onclick = function(){
          var offsetWidth = 3;

           if (!window.matchMedia("(min-width: 900px)").matches){
            offsetWidth = 1;
           }

          if(scrollPosition > (carouselWidth - (cardWidth * offsetWidth))){ return; }
          
          scrollPosition = scrollPosition + cardWidth;
          document.querySelector('.carousel-inner').scrollTo({
            top:0,
            left: scrollPosition,
            behaviour: 'smooth'
          })
          
        };

        document.querySelector('.carousel-control-prev').onclick = function(){
          var offsetWidth = 3;

           if (!window.matchMedia("(min-width: 900px)").matches){
            offsetWidth = 1;
           }
          if(scrollPosition < (carouselWidth - (cardWidth * offsetWidth))){ return; }
          scrollPosition = scrollPosition - cardWidth;
          document.querySelector('.carousel-inner').scrollTo({
            top:0,
            left: scrollPosition,
            behaviour: 'smooth'
          })
          
        };
    
      }
    }

    document.addEventListener("DOMContentLoaded", documentLoaded);


      
  </script>
{% else %}
  <h4>Nothing here Yet.</h4>

  <br>
{% endif %}
