
<div class="col-xl navbar navbar-default fixed-top">

<div class="row mx-1">
  <a href= "{{ site.data.navigation[0].link}}" class="navigation-title col">Lugalu</a>
</div>

<div class="row">
  <nav>
    {% for item in site.data.navigation %}
      <a  href="{{ item.link }}"
        {% if page.title == item.name %} 
          class = "navigation-button orange-font-color  col"
          {%else %}
          class="navigation-button col"
        {% endif %}
         
      >
      {{ item.name }}
      </a>
    
    {% endfor %}
  </nav>

<div class="row">
    <div class="showMore dropdown">
      <button class="btn" type="button" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">      
        <span></span>
        <span></span>
        <span></span>
      </button>

      <div class="dropdown-menu dropdown-menu-end">
        {% for item in site.data.navigation %}
          <a href="{{ item.link }}"

            {% if page.url == item.link %} 
              class="dropdown-item"
              style="color: #FF7A00;" 
            {% else %}
              class="dropdown-item text-white"
            {% endif %}
             
          >
          {{ item.name }}
        </a>

        {% endfor %}
    </div>

    </div>
  </div>
</div>

</div>

<div style="padding-top: 4em;"></div>