---
---
@import "main";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

$orangeColor: #FF7A00;
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);


html,body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #414141;
  --bs-body-bg: black;
  color: #FFF;
}

body{
	position: absolute;
  width: 100vw;
  height: 100vh;
  min-width: 300px;
}

.roboto{
	 font-family: "Roboto", sans-serif;
}

h1 {
	font-size: 200px;
}

h2{}

h3{}

.navbar{
	background-color: #000000;
	padding-top: 15px;
  padding-bottom: 15px;
 	border-bottom: 2px solid $orangeColor;
  border-radius: 0;
  margin-bottom: 0;
	font-size: 24px;    
}

.btn-outline-orange{
	font-weight: 600;
	color: $orangeColor;
	background-color: transparent;
	border-radius: 20;
	border-color: $orangeColor;
}


.navigation-style nav{
	padding-right: 16px;
}

.navigation-button, .active{
	color: #f2f2f2;
	text-decoration: none;
	font-size: 24px;
	padding-right: 16px;
	

}

.active, .navigation-title{
	color: $orangeColor;
}


.navigation-button:hover,.active:hover{
	text-decoration: underline;
}

.navigation-title{
	float: left;
	padding-left: 16px;
	text-decoration: none;
	margin: 0px;
}

.showMore{
	display: none;
}


.section-spacer{
	height: 5px;
	background-color: $orangeColor;
}



.p-3 {
  padding: calc($spacer * 3) !important;
}


.paralelogram-right {
    width: calc(50% + 50px); 
    background: #555;
    clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
    padding:0px;
    margin:0px;
    object-fit: fit;
}


.paralelogram-left {
    width: calc(50% - 50px); 
    background: #555;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
    padding:0px;
    margin:0px;
    object-fit: fill;
}


section{
	display: flex;
    width: 100%;
    height: 400px;
    padding:0px;
    box-sizing: border-box;

}

.textArea{
	width: calc(50%);
    height: 100%;
    padding: 2% 5%;
    text-align: center;
}


@media screen and (max-width: 800px) {
	.navbar nav, .active,{
		display: none;
	}

	.showMore{
		cursor: pointer;
	  display: inline-block;
	  padding-right: 16px;
	  margin-right: 16px;
	}

	.showMore span{
		display: block;
		background-color: $orangeColor;
	  height: 5px;
	  position: sticky;
	  width: 24px;
	  border-radius: 2px;
	  margin: 4px;
	}

	.main-text{
		font-size: 24px;
	}

	h2 {
		font-size: 20px;
	}

	.dropdown a:hover{
		 background-color: #000000;
		 text-decoration: underline;
	}

	.p-3 {
 	 padding: $spacer !important;
	}

	.textArea{
		width: 100%;
	}


	.paralelogram-right,.paralelogram-left{
		display: none;
		width: 0px;
		height: 0px;
	}

	section{
		box-sizing: content-box;
		height: 300px;
	}

	p{
		font-size: 16px;
	}


	.btn-outline-orange{
		font-weight: 400;
		font-size: 16px;
	}
}


.orange-font-color{
	color: $orangeColor;
}
