---
---
@import "main";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');


html,body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #414141;
  --bs-body-bg: black;
  color: #FFF;
}

body{
	position: absolute;
  width: 100vw;
  height: 100vh;
  min-width: 300px;
}

.roboto{
	 font-family: "Roboto", sans-serif;
}

.orange-font-color{
	color: #FF7A00;
}

h1 {
	font-size: 200px;
}

h2{}

h3{}

.navbar{
	background-color: #000000;
	padding-top: 15px;
  padding-bottom: 15px;
 	border-bottom: 2px solid #FF7A00;
  border-radius: 0;
  margin-bottom: 0;
	font-size: 24px;    
}



.navigation-style nav{
	padding-right: 16px;
}

.navigation-button, .active{
	color: #f2f2f2;
	text-decoration: none;
	font-size: 24px;
	padding-right: 16px;
	

}

.active, .navigation-title{
	color: #FF7A00;
}


.navigation-button:hover,.active:hover{
	text-decoration: underline;
}

.navigation-title{
	float: left;
	padding-left: 16px;
	text-decoration: none;
	margin: 0px;
}

.showMore{
	display: none;
}

@media screen and (max-width: 1280px) {
	.navbar nav, .active{
		display: none;
	}

	.showMore{
		cursor: pointer;
	  display: inline-block;
	  padding-right: 16px;
	  margin-right: 16px;
	}

	.showMore span{
		display: block;
		background-color: #FF7A00;
	  height: 5px;
	  position: sticky;
	  width: 24px;
	  border-radius: 2px;
	  margin: 4px;
	}

	.main-text{
		font-size: 36px;
	}

	h2 {
		font-size: 16px;
	}

	.dropdown a:hover{
		 background-color: #000000;
		 text-decoration: underline;
	}
}
































